{% if container_resolution_explicit %}
- type: explicit
{% endif %}
{% if container_resolution_cached_mulled %}
- type: cached_mulled
- type: cached_mulled_singularity
  cache_directory: "/cvmfs/singularity.galaxyproject.org/all"
- type: cached_mulled_singularity
  cache_directory: "/export/container_cache/singularity/mulled"
{% endif %}
{% if container_resolution_mulled %}
- type: mulled
  namespace: "{{ container_resolution_mulled_namespace }}"
{% endif %}
{% if container_resolution_build_mulled %}
- type: build_mulled
  namespace: local
{% endif %}
