name: Single Container Test
on: [push, pull_request]
jobs:
  build_and_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10']
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Configure Docker data-root
      run: |
        sudo mkdir -p /mnt/docker
        if [ ! -f /etc/docker/daemon.json ]; then
          echo '{}' | sudo tee /etc/docker/daemon.json
        fi
        sudo jq '."data-root"="/mnt/docker"' /etc/docker/daemon.json > /tmp/docker_daemon.json
        sudo mv /tmp/docker_daemon.json /etc/docker/daemon.json
        sudo systemctl daemon-reload
        sudo systemctl restart docker
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Build and Test
      run: bash .github/workflows/single.sh
